title: Actix web
layout: default.liquid
permalink: /index.html
---

<section>
  <div>
    <div id="top">
      <h1>Actix web</h1>
      <p>Actix web is a simple, pragmatic and extremely fast web framework for Rust.</p>
    </div>
    <div id="Features">
      <div id="feature" class="columns four">
        <article>
          <h3>Type Safe</h3>
          <p>Forget about stringly typed objects,
          from request to response, everything has types.</p>
        </article>
        <article>
          <h3>Feature rich</h3>
          <p>Actix provides a lot of features out of box.
          WebSockets, Http/2, pipelining etc.</p>
        </article>
        <article>
          <h3>Extensible</h3>
          <p>Easily create your own libraries that any Actix application can use.</p>
        </article>
        <article>
          <h3>Blazingly Fast</h3>
          <p>Actix is blazingly fast.
          <a href="https://www.techempower.com/benchmarks/#section=data-r15&hw=ph&test=plaintext">Check yourself</a>.
          </p>
        </article>
      </div>
    </div>
  </div>
</section>
