extends: default.liquid
title: Actix-web framework
---
<section class="introduction">
  <div>
    <div id="top">
      <h1>Actix-web framework</h1>
      <p>Actix-web is a fast, down-to-earth, open source rust web framework.</p>
      <div>
        <button><a href="https://actix.github.io/tutorials" >Start</a></button>
        <button><a href="https://actix.github.io/docs" >Learn</a></button>
      </div>
    </div>
    <div id="Features">
      <div id="feature" class="columns three">
        <article>
          <h3>Type Safe</h3>
          <p>The words is comming.</p>
        </article>
        <article>
          <h3>Stability</h3>
          <p>The words is comming.</p>
        </article>
        <article>
          <h3>Extensible</h3>
          <p>The words is comming.</p>
        </article>
      </div>
      <div id="feature" class="columns three">
        <article>
          <h3>Easy To Use</h3>
          <p>The words is comming.</p>
        </article>
        <article>
          <h3>Blazingly Fast</h3>
          <p>The words is comming.</p>
        </article>
        <article>
          <h3>Async Everything</h3>
          <p>The words is comming.</p>
        </article>
      </div>
      <div id="feature" class="columns three">
        <article>
          <h3>WebSockets</h3>
          <p>The words is comming.</p>
        </article>
        <article>
          <h3>Streaming and pipelining</h3>
          <p>The words is comming.</p>
        </article>
        <article>
          <h3>HTTP/1.x and HTTP/2.0</h3>
          <p>The words is comming.</p>
        </article>
      </div>
    </div>
  </div>
</section>
