:root {
  --grey:  #f5f5f5;
  --text-color: #413e3e;
  --black: #000000;
  --white: #ffffff;
  --new: rgb(82, 29, 79);
  --font-stack: helvetica, arial, sans-serif;
}

*, *:before, *:after {
  box-sizing: border-box;
  padding:0px; margin:0px;
}

body {
  font-family: var(--font-stack);
  line-height: 1.4rem;
  color: var(--text-color);
  
}

a { 
  color: var(--text-color);
  text-decoration: none; 
}
a:hover { color: var(--new) ;text-decoration:none; }

ul, ol, li {
  list-style: none;
}

/* ----------------------------------------nav----------------------------------------*/
#lnav {
  position: fixed;
  width: 100%;
  line-height: 60px;
  zoom:1;
  display: flex;
  background-color: var(--white);
  justify-content: space-between;
  border-bottom: 1px solid #dfdcdc;  
  box-shadow: 0 3px 3px rgba(200, 216, 206, 0.12), 0 3px 3px rgba(97, 107, 100, 0.24);
}
#line {
  position: fixed;
  zoom:1;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: var(--black);
}
#lnav h1 #home {
  font-size: 33px;
  margin: auto 1vw;
  font-weight: bold;
}
#lnav label {
  float: right;
  font-size: 26px;
  font-weight: bold;
  margin: auto 2vw;
}
#lnav h1 img {
  width: 2.8rem;
  height: 2.8rem;
  margin-top: -0.25rem;
  vertical-align:middle;
}

/* ----------------------------------------section----------------------------------------*/
section {
  min-height: 100vh;
}
section.docs aside ul li a, section.blog aside ul li a {
  display: inline-block;
  margin-left: 0.8rem;
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}

section.docs aside ul li a.active,
section.docs aside ul li a:hover,
section.docs aside ul li a:active,
section.docs aside ul li a:focus,
section.blog aside ul li a.active,
section.blog aside ul li a:hover,
section.blog aside ul li a:active,
section.blog aside ul li a:focus {
  color: var(--new);
  border-left: 3px solid var(--new);
  padding: 0.25rem 0.5rem;
}
section.docs aside p, section.blog aside p {
  font-size: 1.2rem;
  font-weight: bold;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: var(--new);
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  text-shadow: none;
}

code {
  padding: 2px 4px;
  font-size: 90%;
  background-color: #f5f5f5;
  border-radius: 4px;
  border: 1px solid #ccc;
  color: var(--new);
  text-shadow: none;
}

pre code {
  padding: 0;
  font-size: inherit;
  color: inherit;
  white-space: pre-wrap;
  background-color: transparent;
  border-radius: 0;
  border: 0;
}

/* ----------------------------------------footer----------------------------------------*/
footer{
  text-align: center;
  justify-content: center;
  border-top: 2px solid var(--new);
}
footer a { 
  color: var(--new); 
  font-weight: bold;
}
footer p {
  margin: 0;
  font-weight: lighter;
  padding: 1rem 0;
}

/* ----------------------------------------home page----------------------------------------*/
#top {
    padding: 2rem;
    text-align: center;
    line-height: 3rem;
    border: 2px solid var(--grey);
}
#top h1 {
    font-size: 2.2rem;
}
#top p {
   font-size: 1.1rem;
}
#top button {
    margin-right: 18px;
    font-size: 18px;
    padding: 8px 22px;
    border: none;
}

#Features {
  margin: 2rem auto;
  padding: 1rem 2rem;
  border: 2px solid var(--grey);
}
#Features #feature {
  padding-bottom: 1rem;
}
#Features article {
  padding-top: 1rem;
}
#Features article h3 {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}


/* ----------------------------------------mobile----------------------------------------*/
@media only screen and (max-width:  600px) {
  #lnav h1 img {
    margin-left: 1vw;
  }
  #rnav {
    padding-top: 3.6rem;
    height: 0;
    display: block;
    overflow: hidden;
    
  }
  #rnav li a {
    display:block;
    font-weight: bold;
    border-bottom: 1px solid #d8d8d8;
    padding: 0.5rem 1rem;
  }
  #top {
    margin: 0 auto;
    padding: 3.5rem 2rem 5rem 2rem;
}
  section {
    margin: 0 auto ;
    padding-top: 1rem;
    width: 94%;
  }
  #hr {
    width: 100%;
    height: 0.25rem;
    margin: 0.6rem 0;
    background-color: var(--black);
  }
}
/* ----------------------------------------table----------------------------------------*/
@media only screen and (min-width:  600px) and (max-width:  1000px) {
  #menu {
    display: none;
  }
  #lnav h1 img {
    margin-left: 5vw;
  }

  #rnav {
    position: fixed;
    right: 0;
    line-height: 60px;
    padding-right: 5vw;
  }

  #rnav li {
    display: inline-block;
  }
  #rnav li a {
    font-size: 20px;
    font-weight: bold;
    padding-left: 2vw;
  }
  section {
    margin: 0 auto;
    padding-top: 5rem;
    width: 85%;
  }

  section.docs .inner, section.blog .inner {
    display: flex;
  }
  section.docs aside, section.blog aside {
    flex: 0 1 30%;
  }
   
  section.docs main, section.blog main {
    flex: 0 1 70%;
  }
  #hr {
    display: none;
  }
  .columns {
    display: flex;
  }

  .columns.three > article {
    flex: 0 1 33%;
    margin-right: 1.5%;
  }

  .columns.three > article:last-child {
    margin-right: 0;
  }
}

/* ----------------------------------------desktop----------------------------------------*/
@media only screen and (min-width:  1000px) {
  #menu {
    display: none;
  }
  #lnav h1 img {
    margin-left: 11vw;
  }
  #rnav {
    position: fixed;
    right: 0;
    line-height: 60px;
    padding-right: 10vw;
  }

  #rnav li {
    display: inline-block;
  }
  #rnav li a {
    font-size: 20px;
    font-weight: bold;
    padding-left: 2vw;
  }
  section {
    margin: 0 auto;
    padding-top: 5.5rem;
    width: 75%;
  }
  section.docs .inner, section.blog .inner {
    display: flex;
  }
  section.docs aside, section.blog aside {
    flex: 0 1 30%;
  }
  section.docs main, section.blog main {
    flex: 0 1 70%;
  }
  #hr {
    display: none;
  }
  .columns {
    display: flex;
  }

  .columns.four > article {
    flex: 0 1 25%;
    margin-right: 1.5%;
  }

  .columns.four > article:last-child {
    margin-right: 0;
  }
}
