<meta name="viewport" content="width=device-width, initial-scale=1", maximum-scale=1,user-scalable=no,shrink-to-fit=no">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
<link rel="shortcut icon" href="/public/imgs/favicon.ico">
<link rel="stylesheet" href="/public/css/styles.css">
<script src="/public/js/nav.js" async="async"></script>
