<div id="mnav">
    <div id="lnav">
      <div id="line"></div>
      <h1><a href="/"><img src="/public/imgs/ACTIX.png"/></a><a id="home" href="/">Actix</a></h1>
      <label ><a href="#" id="menu">menu</a></label>
    </div>
    <div id="rnav">
        <li> <a href="https://github.com/actix/actix-web" title="GitHub">github</a></li>
        <li> <a href="https://actix.rs/actix-web/guide/" title="Huide">guide</a></li>
        <li> <a href="https://actix.rs/actix-web/actix_web/" title="api">api</a></li>
        <li> <a href="https://gitter.im/actix/actix" title="chat">gitter chat</a></li>
        <li> <a href="https://crates.io/crates/actix-web" title="crates">crates.io</a></li>
      </div>
</div>
