@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto+Mono');

body {
  font-family: 'Source Sans Pro', sans-serif;
}

a {
  color: #156060;
}

a:hover {
  color: #003B3B;
}

table, td {
    border: 1px solid black;
}

td {
    padding: 4px;
}

img {
  max-width: 100%;
}

/*
 *
 * ===== Content ====
 *
 */

.actix-content {
  line-height: 1.75rem;
}

.actix-content h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2.2rem;
}

.actix-content h1:first-child {
  margin-top: 0;
}

.actix-content h2, .actix-content h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.actix-content hr {
  margin: 2rem 0;
}

.actix-content figure {
  margin: 2.5rem auto;
  max-width: 80%;
}

.actix-content figure figcaption {
  font-size: 90%;
  color: #818a91;
  text-align: right;
}

.actix-content figure img {
  max-width: 100%;
}

.actix-next {
  text-align: right;
}

.github-edit .fa {
  font-family: inherit;
}

.github-edit .fa:before {
  font-family: "FontAwesome";
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-decoration: inherit;
}

.github-edit {
  text-align: right;
  padding-bottom: 1rem;
}


/*
 *
 * ===== Navbar =====
 *
 */

 .navbar-nav {
   display: flex;
 }

 .navbar-nav .nav-item {
   margin-left: 1rem;
   margin-right: 1rem;
 }

.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  margin-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: 52px;
  height: auto;
}

@keyframes spin-logo { 100% { transform: rotate(360deg); } }

.navbar-brand img {
  animation: spin-logo 30s linear infinite;
}

.navbar-light {
  background: #eee;
}

.navbar-toggle {
  padding: .25rem .35rem;
  font-size: 1.25rem;
  line-height: 1;
  height: 2.6rem;
  width: 2.8rem;
  background: 0 0;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.navbar-light .navbar-toggle {
  border-color: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.9);
  margin-top: 4px;
}

/* reset border and change color outline */
.navbar-light .navbar-toggle:focus {
  outline: none;
  border-color: #888;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-nav li {
  line-height: 60px;
  height: 60px;
  padding-top: 0;
}

.leftnav li {
  margin: 1rem 0rem;
}

.leftnav li a {
  color: #888;
}

.leftnav li.active {
  margin: -0.5rem 0 -.5rem -1rem;
  padding: 0.5rem 0 0.5rem 1rem;
  background: #dceaea;
}

.leftnav li.active a {
  color: #156060;
}

.leftnav h5 {
  margin: 2rem 0 1rem 0;
}

.leftnav h5:first-child {
  margin-top: 0;
}

.leftnav a {
  font-weight: 600;
}

.in .navbar-nav .nav-item {
  text-align: left;
}

.navbar-toggleable-md .navbar-nav {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.navbar-toggleable-md .navbar-brand {
  margin-top: 0;
}

/*
 *
 * ===== Page header =====
 *
 */

.actix-pageheader, .jumbotron {
  background-image: url(/img/jumbotron.jpg);
  background-size: cover;
  background-color: #156060;
  color: #fff;
}

.jumbotron {
  border-radius: 0;
  padding: 4rem 1rem;
}

.actix-jumbotron {
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  text-align: center;
}

.jumbotron .actix-logo {
  max-height: 10rem;
}

.jumbotron .lead {
  font-size: 1.5rem;
  margin: 2rem 0 0 0;
}

.actix-pageheader {
  padding: 1rem 1rem;
  margin-bottom: 2.5rem;
}

.actix-pageheader h1 {
  font-weight: 300;
  font-size: 3rem;
}

.actix-pageheader .lead {
  color: #DADADA;
  font-size: 1.5rem;
  margin-bottom: 0;
}

@media (min-width: 576px) {
  .actix-pageheader {
    padding: 2rem 0rem;
  }
}

/*
 *
 * ===== Home =====
 *
 */

.actix-home {
  margin: 0 auto;
  width: auto;
  max-width: 1000px;
}

.actix-showcase {
  overflow: hidden;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 1rem 0 1rem;
  background: #dceaea;
}

.actix-showcase ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
}

.actix-showcase input[type="radio"] {
  display: none;
}

.actix-showcase div.feature {
  display: none;
}

.actix-showcase input[type="radio"]:checked + div.feature {
  display: block;
}

.actix-showcase label {
  display: block;
  font-weight: bold;
  color: #156060;
  cursor: pointer;
}

.actix-showcase label:hover {
  color: #003B3B;
}

.actix-features h2 {
  font-size: 1.5rem;
  margin-top: 2.25rem;
  margin-bottom: 0.8rem;
}

.actix-features .fa {
  margin-right: 0.4rem;
  color: #156060;
}

.actix-features p {
  font-size: 1rem;
}

.actix-feature-selectors {
  padding-bottom: 2rem;
}

.actix-feature-selector {
  text-align: center;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.actix-feature-selector.active {
  background: white;
}

.actix-feature-selector.active a {
  color: #333!important;
  text-decoration: none;
}

.final-pitch {
  text-align: center;
}

/*
 *
 * ===== Footer =====
 *
 */

.actix-footer {
  padding: 4rem 0;
  margin-top: 4rem;
  font-size: 85%;
  line-height: 35px;
}

.actix-footer-gray {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.actix-footer-social a .fa {
  font-size: 35px;
}

.actix-footer-social a .fa-github {
  margin-left: 35px;
}

/*
 *
 * ===== Misc =====
 *
 */
p.uplink {
  margin: 0;
  float: right;
}

/*
 *
 * ===== Highlight =====
 *
 */

code {
  color: #006a70;
}

pre, code {
  font-family: 'Roboto Mono', monospace;
}

pre {
  display: block;
  overflow-x: auto;
  margin: 2rem 0rem;
  padding: 1rem;
  background: #f7f7f7;
  font-size: 90%;
  line-height: 1.4rem;
}

/* Show section header on hover */

h2:hover a:after,
h3:hover a:after,
h4:hover a:after,
h5:hover a:after {
    content: '\2002\00a7\2002';
}

h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a {
    text-decoration: none;
}

@media (min-width:520px) {
  .jumbotron {
    padding: 4rem;
  }
}


/*
 *
 * ===== Utilities =====
 *
 */

 .d-flex {
   display: flex;
 }

 .justify-content-between {
    justify-content: space-between;
 }

 /*
 *
 * ===== Media queries =====
 *
 */


 @media (min-width: 768px) {
   .bootstrap-vertical-nav .navbar .navbar-collapse {
      padding: 0;
      max-height: none;
   }
   .bootstrap-vertical-nav .navbar ul {
      float: none;
   }
   .bootstrap-vertical-nav .navbar ul:not {
      display: block;
   }
   .bootstrap-vertical-nav .navbar li {
      float: none;
      display: block;
   }

   .bootstrap-vertical-nav .navbar-nav .nav-item+.nav-item {
      margin-left: 0;
   }
}

 @media screen and (min-width: 480px) {
  .hidden-lg-up {
    display: none !important;
  }
  .navbar-collapse {
    display: flex !important;
  }
}

 @media screen and (max-width: 479px) {
  .hd-lg-down {
    display: none !important;
  }
  .navbar-toggleable-md > .container {
      padding-right: 0;
      padding-left: 0;
  }

  .navbar-brand {
    margin-top: 0 !important;
    margin-right: 1rem !important;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    list-style: none;
  }

  .navbar-nav .nav-link {
    padding: 0;
  }

  .navbar-nav li {
    line-height: 36px;
    height: 36px;
    padding-top: 0;
  }

  .navbar-nav .nav-item + .nav-item {
    margin-left: 0;
  }

  .actix-footer-gray {
    text-align: center;
    flex-direction: column;
  }

  .actix-footer-social a .fa-github {
    margin-right: 1rem;
  }
}

@media (min-width: 992px) {
  .actix-footer-gray {
    width: 960px;
  }
}

@media (min-width: 1200px) {
  .actix-footer-gray {
    width: 1140px;
  }
}
