{{ partial "header" . }}
{{ $currentURL := .URL }}

<div class="actix-pageheader">
  <div class="container">
    <h1 id="blog-title" class="display-4">{{ .Title }}</h1>
    {{ if .Description }}
    <p class="lead">{{ .Description }}</p>
    {{ end }}
  </div>
</div>

<div class="container actix-blog">
  <div class="row">
    <div class="col-md-3">

      <button class="btn doctoggle" type="button" data-toggle="collapse" data-target="#collapsing-docnav" aria-expanded="false" aria-controls="collapsing-docnav">
        Toggle navigation
      </button>
      
      <nav class="leftnav collapse show" id="collapsing-docnav">
        <div class="" id="">
          <details>
              <summary>Introduction</summary>
              <div>
                  <ul class="nav">
                    {{ range .Site.Menus.blog_intro }}
                    <li{{ if eq $currentURL .URL }} class="active"{{ end }}>
                      <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                  </ul>
                </div>
          </details>
          <details>
              <summary>2018</summary>
              <div>
                  <ul class="nav">
                    {{ range .Site.Menus.blog_2018 }}
                    <li{{ if eq $currentURL .URL }} class="active"{{ end }}>
                      <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                  </ul>
                </div>
          </details>
        </div>
      </nav>

    </div>
    <div class="col-md-9">
      <div class="actix-content">
        {{ block "main" . }}{{ end }}
        <!-- Yes, we have to use *Prev* to get the next content, because the
        weights are sorted inversely to how they are actually displayed... -->
        {{ with .PrevInSection }}<div class="actix-next"><b>Next up</b>: <a href = {{ .URL }}>{{ end }}
        {{ with .PrevInSection }} {{ .Title }}</a></div>{{ end }}
      </div>
    </div>
  </div>
</div>

{{ partial "footer" . }}
