.main {
  section {
    padding: 5rem 0;

    @media screen and (max-width: 996px) {
      padding: 2.5rem 0;
    }
  }
}

.highlights {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 3rem;

  .highlight {
    p {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
    }

    @media screen and (min-width: 576px) {
      margin-bottom: 3rem;
      text-align: center;
    }

    .header {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 1rem;
      @media screen and (min-width: 576px) {
        justify-content: center;
      }

      .icon {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        color: var(--ifm-color-primary);
      }

      .title {
        font-size: 1.25rem;
        margin-bottom: 0;
      }
    }
  }
}

.banner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  // background-image: url('/img/jumbotron.jpg');
  // background-size: cover;
  // color: #fff;

  @media screen and (max-width: 966px) {
    padding: 2rem;
  }
}

.logo {
  max-width: 160px;
  filter: var(--logo-filter);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subtitle {
  margin: 0 auto 2rem;
  max-width: 500px;
}

.headline {
  margin-bottom: 2rem;
}

.category {
  display: inline-flex;
  align-items: center;
  margin-bottom: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: var(--ifm-color-primary-light);
}

.title {
  max-width: 500px;
  font-size: 2rem;
  line-height: initial;

  @media screen and (min-width: 576px) {
    font-size: 2.4rem;
  }
}

.subtitle {
  margin-top: 2rem;
  color: var(--ifm-color-emphasis-600);
}

.main_example {
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.main_example__code {
  width: 100%;
}

@media (min-width: 1024px) {
  .main_example__code {
    width: unset;
  }
}

// features
.example {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.example__code {
  width: 100%;
}

.featureText {
  justify-self: center;
  padding-bottom: 1rem;
}

@media (min-width: 1024px) {
  .example {
    flex-direction: row;
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .example:nth-child(odd) {
    flex-direction: row-reverse;
    background-color: var(--examples-odd-background-color);
  }
  .featureText {
    width: 33%;
  }
  .example__code {
    width: unset;
  }
}

.featureTitle {
  font-size: 36px;
  font-weight: 500;
}

// Hide the title in docs pages, we render our own in markdown
article header h1 {
  display: none;
}
