{{ partial "header" . }}
{{ $currentURL := .URL }}

<div class="actix-pageheader">
  <div class="container">
    <h1 class="display-4">404: Page Not Found</h1>
    <p class="lead">What you were looking for was not here</p>
  </div>
</div>

<div class="container actix-community">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="actix-content">
        <h1>Not Found</h1>
        <p>We could not find the page you were looking for.  This website was
        recently restructured so maybe a link went dead.
        <ul>
          <li><a href="/">Home page</a>
          <li><a href="/docs/">Documentation</a>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ partial "footer" . }}
