:root {
  --background-color-secondary: #f8f8f8;
  --examples-odd-background-color: var(--background-color-secondary);
  --logo-filter: unset;

  /* docusaurus vars
  https://docusaurus.io/docs/styling-layout#styling-your-site-with-infima
  */
  --ifm-color-primary: #7036ab;
  --ifm-color-primary-dark: #65319a;
  --ifm-color-primary-darker: #5f2e91;
  --ifm-color-primary-darkest: #4e2678;
  --ifm-color-primary-light: #7b3bbc;
  --ifm-color-primary-lighter: #8140c3;
  --ifm-color-primary-lightest: #925acb;
  --ifm-font-size-base: 16px;
  --ifm-code-font-size: 90%;
  --ifm-background-color: #fff;
  --ifm-footer-background-color: var(--ifm-background-surface-color);
  --ifm-menu-color-background-active: var(--ifm-color-emphasis-200);
}

html[data-theme="dark"] {
  --background-color-secondary: #0a191c;
  --examples-odd-background-color: var(--ifm-hero-background-color);
  --logo-filter: brightness(0) invert(1);

  /* docusaurus vars */
  --ifm-background-color: #0a141c;
  --ifm-color-primary: #e98ef5;
  --ifm-color-primary-dark: #e26af2;
  --ifm-color-primary-darker: #df59f0;
  --ifm-color-primary-darkest: #d423ec;
  --ifm-color-primary-light: #f0b2f8;
  --ifm-color-primary-lighter: #f3c3fa;
  --ifm-color-primary-lightest: #fef9fe;
  --ifm-footer-background-color: #0a141c;
  --ifm-navbar-background-color: var(--ifm-background-color);
  --ifm-hero-background-color: var(--background-color-secondary);
  --ifm-menu-color-background-active: #21243d;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.navbar__logo {
  filter: var(--logo-filter);
}

.header-discord-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 width%3D%2224%22 height%3D%2224%22 fill%3D%22currentColor%22 class%3D%22bi bi-discord%22 viewBox%3D%220 0 16 16%22%3E%3Cpath d%3D%22M13.545 2.907a13.2 13.2 0 0 0-3.257-1.011.05.05 0 0 0-.052.025c-.141.25-.297.577-.406.833a12.2 12.2 0 0 0-3.658 0 8 8 0 0 0-.412-.833.05.05 0 0 0-.052-.025c-1.125.194-2.22.534-3.257 1.011a.04.04 0 0 0-.021.018C.356 6.024-.213 9.047.066 12.032q.003.022.021.037a13.3 13.3 0 0 0 3.995 2.02.05.05 0 0 0 .056-.019q.463-.63.818-1.329a.05.05 0 0 0-.01-.059l-.018-.011a9 9 0 0 1-1.248-.595.05.05 0 0 1-.02-.066l.015-.019q.127-.095.248-.195a.05.05 0 0 1 .051-.007c2.619 1.196 5.454 1.196 8.041 0a.05.05 0 0 1 .053.007q.121.1.248.195a.05.05 0 0 1-.004.085 8 8 0 0 1-1.249.594.05.05 0 0 0-.03.03.05.05 0 0 0 .003.041c.24.465.515.909.817 1.329a.05.05 0 0 0 .056.019 13.2 13.2 0 0 0 4.001-2.02.05.05 0 0 0 .021-.037c.334-3.451-.559-6.449-2.366-9.106a.03.03 0 0 0-.02-.019m-8.198 7.307c-.789 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.45.73 1.438 1.613 0 .888-.637 1.612-1.438 1.612m5.316 0c-.788 0-1.438-.724-1.438-1.612s.637-1.613 1.438-1.613c.807 0 1.451.73 1.438 1.613 0 .888-.631 1.612-1.438 1.612%22%2F%3E%3C%2Fsvg%3E");
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.header-discord-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}

.header-github-link::before {
  content: "";
  width: 24px;
  height: 24px;
  display: flex;
  background-color: var(--ifm-navbar-link-color);
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E");
  transition: background-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.header-github-link:hover::before {
  background-color: var(--ifm-navbar-link-hover-color);
}
