<!DOCTYPE html>
<html>
  <head>
    {% include "head.liquid" %}
  </head>
  <body>
    <header>
      {% include "header.liquid" %}
    </header>
    <main>
      <section class="blog">
        <div class="inner">
          <aside>
            <p>Basics</p>
            <ul>
              <li><a {%if page.permalink == "Basics-example"%}class="active"{%endif%} href="/docs/Basics/Basics-example.html">Basics Example</a></li>
            </ul>
            <p>Reference</p>
            <ul>
              <li><a {%if page.permalink == "Reference-example"%}class="active"{%endif%} href="/docs/Reference/Reference-example.html">Reference Example</a></li>
            </ul>
            <p>Advance</p>
            <ul>
              <li><a {%if page.permalink == "Advance-example"%}class="active"{%endif%} href="/docs/Advance/Advance-example.html">Advance Example</a></li>
            </ul>
            <p>API</p>
            <ul>
              <li><a {%if page.permalink == "API-example"%}class="active"{%endif%} href="/docs/API/API-example.html">Misc Example</a></li>
            </ul>
          </aside>
          <hr id="hr">
          <main>
          {{ page.content }}
          </main>
        </div>
      </section>
    </main>
    <footer>
      {% include "footer.liquid" %}
    </footer>
  </body>
</html>
