name: Examples

on:
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:
    types: [checks_requested]
  push:
    branches: [main]

jobs:
  check-examples:
    name: Check examples
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1.10.1

      - name: Install just
        uses: taiki-e/install-action@v2.47.0
        with:
          tool: just

      - name: Test examples
        env:
          RUSTFLAGS: -A dead-code -A unused-variables
        run: just test
