name: Examples

on:
  pull_request:
    types: [opened, synchronize, reopened]
  merge_group:
    types: [checks_requested]
  push:
    branches: [main]

jobs:
  check-examples:
    name: Check examples
    runs-on: ubuntu-latest

    steps:
      # required packages
      - run: sudo apt install sqlite3

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install Rust
        uses: actions-rust-lang/setup-rust-toolchain@1780873c7b576612439a134613cc4cc74ce5538c # v1.15.2

      - name: Install just
        uses: taiki-e/install-action@3575e532701a5fc614b0c842e4119af4cc5fd16d # v2.62.60
        with:
          tool: just

      - name: Test examples
        env:
          RUSTFLAGS: -A dead-code -A unused-variables
        run: just test
